:root {
  --font: 'SF UI Display', sans-serif;
  --black-100: #0E0F11;
  --white-100: #FFFFFF;
  --grey-50: #C3C8CF;
  --grey-100: #8F959B;
  --red-100: #F24C41;
  --red-20: rgba(240, 87, 77, 0.20);
  --Card-Background: #F3F7FB;
}